
*.sql
Microservices/Front-end/src/pages/Home_help.js
Microservices/Front-end/src/pages/Signup_Class.js
SOA/Front-end/src/pages/Home_help.js
SOA/Front-end/src/pages/Signup_Class.js
SOA/Authenticator/routes/index_old.js
Development/Microservices/Front-end/src/pages/Home_help.js
Development/SOA/Front-end/src/pages/Signup_Class.js
Development/SOA/Front-end/src/pages/Home_help.js
Development/SOA/Authenticator/routes/index_old.js
Development/Microservices/Front-end/src/pages/Signup_Class.js
